.artwork {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
  }
  
  .artwork .text-content {
    flex: 1;
    padding: 20px;
  }
  
  .artwork .image-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .artwork .image-content img {
    max-width: 100%;
    border-radius: 10px;
  }
  .typography {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
  }
  
  .typography .text-content {
    flex: 1;
    padding: 20px;
  }
  
  .typography .image-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .typography .image-content img {
    max-width: 100%;
    border-radius: 10px;
  }
  
  