/* src/components/Customization.css */
.customization {
    text-align: center;
    padding: 40px 20px;
  }
  
  .customization h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .customization p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .customization-images {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  