/* src/components/Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
  }
  
  .header-logo {
    width: 50px; /* Adjust the size as needed */
    height: auto;
  }
  
  .header-title {
    font-size: 24px;
    font-weight: bold;
    color: #4a4a4a;
  }
  
  .header-buttons {
    display: flex;
    gap: 10px;
  }
  
  .header-button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .header-button.selected {
    background-color: #d1ecf1;
  }
  
  .button-icon {
    width: 20px; /* Adjust the size as needed */
    height: auto;
    margin-right: 10px;
  }
  
  .header-links {
    display: flex;
    gap: 20px;
  }
  
  .header-link {
    text-decoration: none;
    color: #4a4a4a;
    font-size: 16px;
  }
  
  .close-button {
    font-size: 24px;
    cursor: pointer;
  }
  