/* src/components/MainContent.css */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
    background: linear-gradient(25deg, #00b4d8, #90e0ef);
    position: relative;
    padding: inline 20px; 
  }
  
  .album {
    text-align: center;
    background: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 } 
  
  .album-art {
    width: 300px;
    height: 300px;
    border-radius: 10px;
  }r
  
  .album-info {
    margin-top: 20px;
  }
  
  .album-title {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
  }
  
  .album-artist {
    font-size: 16px;
    color: #666666;
  }
  
  .time-display {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 16px;
    color: white;
  }
  .theme{
    width: 300px;
    height: 300px;
    border-radius: 10px;

  }
.icon{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    align-items: flex-end;
    justify-self: left;
}